.ani-skeleton1 {
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  animation: skeleton-loading1 1.4s ease infinite;
}

.ani-skeleton2 {
  animation: skeleton-loading2 1.2s cubic-bezier(0, 0.73, 0.36, 1) infinite;
}

.ani-skeleton3 {
  animation: skeleton-loading3 1.2s cubic-bezier(0, 0.73, 0.36, 1) infinite;
}
